<!-- PC용 네비게이션 바 -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-amedium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="/process/dash" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>My Job Note!</a>  
        <a href="/process/grade" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">학점</a>
        <a href="/process/jobkorea" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings">공채달력</a>
        <a href="/process/resume" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages">이력</a>
        <a href="/process/community" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages">소통</a>
        <a href="/process/maker" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages">만든이...</a>
        <a href="/process/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"><%=username%>님(logout)</a>
    </div>
</div>

<!-- 모바일용 네비게이션 바 -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-amedium w3-large">
    <a href="/process/jobkorea" class="w3-bar-item w3-button w3-padding-large">teml</a>
    <a href="/process/grade" class="w3-bar-item w3-button w3-padding-large">학점</a>
    <a href="/process/resume" class="w3-bar-item w3-button w3-padding-large">이력</a>
    <a href="/process/community" class="w3-bar-item w3-button w3-padding-large">소통</a>
    <a href="/process/maker" class="w3-bar-item w3-button w3-padding-large">만든이</a>
</div>