<!DOCTYPE html>
<html>
    <head>
		<!--헤더영역 분리-->
        <% include ./head.ejs %>
		
		<!--제출 버튼을 클릭 후 서버로부터의 응답 처리-->
		<% if(result==true){ %>
		<script> alert("저장이 완료되었습니다!"); </script>
		<% } else if(result==false) {%>
		<script> alert("저장 실패하였습니다."); </script>
		<% } %>
    </head>
	<body class="w3-theme-l5">
		<!--네비게이션 바 영역 분할-->
		<% include ./nav.ejs %>
		<div class="w3-container" style="margin-top:80px;">
			<div class="w3-card w3-white w3-content w3-padding">
				<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>My Portfolio Add</h2>
				<!--포트폴리오(이력) 추가 폼 시작-->
				<form method="post" action="/process/addwork">
					<div class="w3-container">
						<input type="text" name="title" class="respon-input" style="width:100%;" placeholder="제목" required><br><br>
						<input type="text" name="due" class="respon-input" style="width:100%;" placeholder="기간" required><br><br>
						<textarea name="memo" class="respon-input" style="width:100%;height:200px;" placeholder="내용" required></textarea><br>
						<input type="submit" value="update" name="" class="w3-button w3-block w3-red w3-section">
					</div>
				</form>
				<!--포트폴리오(이력) 추가 폼 종료-->
				<!--포트폴리오(이력) 추가 예시 영역 시작-->
				<div class="w3-container">
					<hr>
					<h3 class="w3-opacity"><i class="fa fa-hand-o-down fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i><b>Add Example</b></h3>
					<hr>
					<h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
					<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
					<p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
					<hr>
				</div>
				<div class="w3-container">
					<h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
					<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
				</div>
				<!--포트폴리오(이력) 추가 예시 영역 종료-->
			</div>
		</div>
		<br>
		<!--풋터영역 분할-->
		<% include ./footer.ejs %>
	</body>
</html> 
